h1 {
    color: rgb(53, 71, 170);
}

body {
    background-color: rgb(173, 173, 173);
}

.card {
    margin: 450px;
    padding: 30px;
    align-items: center;
    width: 300px;
    margin-top: 200px;
    border: 1px solid black;
}